<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://kit.fontawesome.com/f0b3749e54.js" crossorigin="anonymous"></script>
    <script src="vue.js"></script>
</head>
<body>
    <div id="MyApp" v-cloak>
        <h3 v-text="AppSetting.Title"></h3>

        
        <button @click="showCheckout">
            {{ MyCartItemCount }}
            <span class="fas fa-cart-plus"></span> Checkout
        </button>

        

        <div v-if="viewItem" class="products" >
            <div class="item" v-for="(item, index) in items" :key="item.id">
                <img v-bind:src="item.subjectImg">
                
                <h3 v-text="item.subjectName"></h3>
                <p> 
                    Price:
                    <span v-text="item.currency"></span><span v-html="item.price"></span>
                    <br>
                    Spaces: <span v-html="item.spaces"></span> 
                    <br>
                    Location: <span v-text="item.location"></span>
                </p>
                <input type="button" value="Add to cart" v-on:click="AddToCart" v-if="checkSpacesAvailable">
                <div v-else>
                    <button disabled >Empty</button>
                    <span>No spaces left...</span>
                </div>
                
                {{ checkSpacesAvailable }}
            </div>
        </div>
        <div v-else>
            <h3>Ready to Checkout</h3>
        </div> 
        <br>
        
    </div>
     

<script>
    let MyStore = new Vue({
        el:"#MyApp",
        data:{
            viewItem: true,
            AppSetting:{
                Title: "eStore - Shopping Cart System",
                
            },
            items: [
                { 
                    id: 101,
                    subjectImg: "images/english.png",
                    subjectName: "English",
                    location: "London",
                    price: 100,
                    spaces: 8,
                    currency: "£"
                },
                { 
                    id: 102,
                    subjectImg: "images/english.png",
                    subjectName: "Mathematocs",
                    location: "London",
                    price: 90,
                    spaces: 4,
                    currency: "£"
                },
            ],
            MyCart: [],
        },
        methods: {
            AddToCart: function () {
                if (this.item.spaces > 0) {
                this.item.spaces -= 1;
                this.MyCart.push(this.item.id);
                } else {
                this.item.spaces = "No spaces";
                }
            },
            showCheckout(){
                this.viewItem = this.viewItem ? false : true;
            }
        },
        computed: {
            MyCartItemCount: function() {
                return this.MyCart.length || "";
            },
            checkSpacesAvailable: function(){
                return this.items.spaces > this.items.spaces;
            }
        },
    })
</script>
</body>
</html>